@font-face {
    font-family: "News Gothic Regular";
    src: url("../assets/fonts/NewsGothicRegular.otf") format("opentype");
}
.scrolling-text {
  height: 100%;
  animation: 20s slide-up;
  margin-top:0%;

}

.scrolling-text p {
  color: rgba(255, 255, 255, 1);
  font-family: "News Gothic Regular";
  font-size: 2.8vh;
  text-align: justify;
}

@keyframes slide-up {
  from {
    margin-top: 100vh;
    height: 00%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}
