.Card {
  flex: 0 0 auto;
  border: 3px solid rgba(0, 0, 0, 1);  
  border-radius: 20px;
  width: 200px;
  padding: 0px;
  margin: 10px;
  cursor: pointer;
  align-content: center;
}

.Card .title {
  background-color: lightgrey
}

.Card main {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.Card .stat-title {
  margin: 0;
}

.Card .stat {
  margin-top: 10px;
  color: rgba(0, 0, 0, 1);
}

.Card button {
  width: 80%;
  height: 30px;
  margin: 0 10% 10% 10%;
}

