.App {
  display: flex;
  text-align: center;
}

aside {
  flex: 0 1 300px;
}

main {
  flex: 1;
}

header h2 {
  font-size: 48px;
}

.view-favorites {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 36px;
  width: auto;
  font-size: 12px;
}

.count-favorites {
  padding: 5px;;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1)
}
