@font-face {
  font-family: "Distant Galaxy";
  src: url("../assets/fonts/SFDistantGalaxy.woff") format("woff");
  font-weight:400;
}

@font-face {
  font-family: "Anakin Mono";
  src: url("../assets/fonts/anakinmono.woff") format("woff");
  font-weight:400;
}

.App {
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 102px;
  top: 0;
  align-content: center;
  background-color: rgba(45, 45, 45, 1);
}

.title-container {
  flex: 1 1 50%;
  padding: 15px 0;
}

.title-container h2 {
  margin: 22px 15px;
  text-align: center;
  font-family: "Distant Galaxy";
  font-size: 42px;
  color: rgba(255, 255, 255, 1);
}

.title-container a {
  text-decoration: none;
}

nav {
  padding: 0;
  flex: 0 0 460px;
  display: inline-block;
  justify-content: space-around;
}

button {
  flex: 1;
  /* margin-top: -10px; */
  width: 100px;
  height: 100px;
  font-size: auto;
  cursor: pointer;
  background-color: rgba(45, 45, 45, 1);
  border: none;
  border-left: 1px lightgray solid;
}

button img {
  height: 30px;
  margin: 22px;
}

button h4 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin: -10px 0 15px 0;
}

.count-favorites {
  position: relative;
  top: -10px;
  font-size: 36px;
  width: 50px;
  color: rgba(255, 255, 255, 1);
  cursor: default;
  border: none;
}  

main {
  display: flex;
  /* position: fixed; */
  height: 100vh;
  margin-top: 100px;
  overflow-y: auto;
  /* background-image: url("../assets/images/stars-background.jpg"); */
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

main h2 {
  margin-left: 300px;
}

aside {
  flex: 0 0 270px;
  position: fixed;
  top: 100px;
  width: 270px;
  height: 100vh;
  padding: 15px;
  /* background-color: rgba(0, 0, 0, 1); */
  overflow: hidden;
}    

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  top: 100px;
  margin-left: 300px;
  padding: 15px 0;
  height: auto;
  width: auto;
}
